<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<head>
<title>DoneItt</title>
</head>
<body>

	<div style="background: yellow !important"
		class="jumbotron jumbotron-fluid">
		<div class="container text-center">
			<h1 class="display-4">Welcome to DoneItt</h1>
			<div></div>
			<h3>Your Personal Todo List.</h3>
			<h5>Helping You Keep All Your Tasks Together One Day At A Time.</h5>
			<br>
		</div>
	</div>
	<div class="container text-center">
		<a th:href="@{/task/newTask}"><button type="button" class="btn btn-success">New Task</button></a>
	</div>
	<div style="background: white !important">
		<div>
			<table>
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Creator</th>
						<!-- <th>Status</th> -->
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="task:${tasks}">
						<td th:text="${task.title}"></td>
						<td th:text="${task.description}"></td>
						<td th:text="${task.creator}"></td>
						<td><a th:href="@{'/task/{id}' (id=${task.id})}"><button
									type="submit" method="get">View</button></a>

							<form th:action="@{'/task/{id}/delete'( id=${task.id})}"
								th:method="delete">
								<button type="submit" method="delete">Delete</button>
							</form></td>
					</tr>
				</tbody>
			</table>

			<div th:if="${tasks.size()== 0}" class="containter text-center">
				<p>You Don't Have Any Task To Do Yet.</p>
				<a>Why Don't You Create A New One?</a>
			</div>
		</div>
</body>
</html>